
  
}


.btn-outline-success{

  margin-left: 20px;
}









.form{
  border-radius: 5px;
  border-style: none;
}
  
}

  
}

#helping{
  margin-left: 50px;
  margin-top: 50px;
  font-family: cursive;
  text-transform: capitalize;
}

.card{
  margin-top: 40px;
  margin-left: 100px;
  
}
.cs{
  display: flex;
  margin-left: 100px;
  margin-top: 100px;
}

#pin{
  text-align: center;
  margin-top: 100px;
  color: greenyellow;
}

.kk{
  display: flex;
}

.aa{
  margin-left: 30px;
}

#ope{
  width: 450px;
  margin-top: 100px;
}

#sub{
  font-size: 30px;
  font-weight:  bolder;
  font-family: cursive;
  padding-top: 10px;
  padding-left: 10px;
  
}

#gre{
  font-size:15px;
  font-weight: bolder;
  padding-top: 20px;
  padding-left: 10px;
}


.tiwa{
  margin-top:100px;
  margin-left: 50px;
  font-family:cursive;
  font-size: 30px;
  /* background-color: greenyellow; */
  font-weight: bolder;


}
#iphone{
  text-align: center;
}

.tt{
  background-color: greenyellow;
  text-decoration: none;
}
.tt a{
  text-decoration: none;
  color: cornflowerblue;
}

.tt a:hover{
  background-color: rgb(41, 79, 2);
  cursor: pointer;
}
  

.mm{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,  url(../image/cat\ and\ dog.jpeg);
  width:100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.bb{
text-align: center;
padding-top: 150px;
color: greenyellow;
}

#add{
  text-transform: capitalize;
  font-size:70px;
  font-family: cursive;
}
#ww{
  margin-top:10px;
  font-family: cursive;
  font-size: medium;
  font-weight: lighter;
  height: 60px;
  border-radius: 10px;
  border-style: none;
  color: blue;
}
#we{
  margin-top: 20px;
  font-weight: lighter;
  font-family: cursive;
}


#ww:hover{
  background-color: rgb(125, 125, 255);
  cursor: pointer;
}





#life{
  margin-left: 60px;
  margin-top: 10px;
  font-family: monospace;
}

#singer{
  margin-left: 60px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h6{
  margin-left: 50px;
  font-family: cursive;
}

#subheading{
  margin-top: 50px;
  text-align: center;
  text-transform: uppercase;
  font-family: fantasy;
}

#pet{
  font-size: 40px;
  font-weight: bolder;
  font-family: cursive;
  text-align: center;
  margin-top: 100px;
  color: rgb(24, 141, 0);
  
}

.bigdeal{
  margin-left: 50px;
}


.images{
  display: flex;

}

#img{
  width: 450px;
  margin-top: 50px;
  margin-left: 10px;
}

.writeup{
  display: flex;
  
}

#production{
  font-size: 30px;
  margin-left: 50.9px;
  font-weight: bolder;
  font-family: cursive;
}
.our{
  margin-left: 5px;
}

#recall{
  font-size: medium;
  margin-left:50px;
  font-weight: lighter;
  font-family: cursive;
}

.first{
  background-color: rgb(151, 253, 151);
  margin-left: 30px;
}

.first:hover{
  background-color: green;
  cursor: pointer;
}

.container{
  display: flex;
}

.rice{
  margin-top:90px;
}

.dollars{
  margin-top:100px;


}

#p1{
  font-size: 50px;
  font-weight: bolder;
  font-family: cursive;
  color: greenyellow;
  margin-left: 50px;
}

#p2{
  font-size: 25px;
  font-weight: lighter;
  font-family: cursive;
  color: greenyellow;
  margin-left: 50px;
}

#p3{
  font-size: 30px;
  font-weight: bold;
  text-transform: lowercase;
  color: rgb(235, 245, 231);
  margin-left:50px ;
  padding-top: 20px;
}

.fa-solid{
  margin-left: 50px;
  width: 100px;
  margin-top: 50px;
}


.mile12{
  font-size: larger;
  background-color: rgb(98, 248, 143);
  margin-left: 50px;
  text-decoration: none;
}

.mile12 a{
  text-decoration: none;
}

.mile12:hover{
  cursor: pointer;
  text-decoration: none;
  background-color: green;
}

.shadow{
  display:flex;
  margin-top: 100px;
  
}
#dog{
  width: 650px;
}

#cat{
  width: 580px;
}
.animals{
  margin-left: 70px;
  padding-top: 100px;

}

#give-up{
  font-size: 40px;
  font-weight: bolder;
  padding-left: 10px;
  padding-top: 8px;
}

#longer{
  font-size: 20px;
  font-weight: normal;
  padding-top: 5px;
  padding-left: 10px;

}

.bam{
  background-color: rgb(100, 238, 102);
}
.bam:hover{
  background-color: green;
  cursor: pointer;
}

.bam a{
  text-decoration: none;
}

.font{
  display: flex;
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  
}
.finnish{
  
}

.fried{
  margin-left: 80px;
}

.nini{
  margin-left: 70px;
  margin-top: px;
}
.ps{
  
  font-weight: bold;
  font-family: sans-serif;
  margin-top: 50px;
}

#subhead{
font-family: cursive;




}

#soap{
  
  font-size: 20px; padding: 5px; font-weight: bold; color: aquamarine; border-radius: 20px;
}

#soap:hover{
  text-decoration: none;
  cursor: pointer;
  color: blue;
}

#fool{
  font-size: 30px;
  margin-top: 30px;
}
.fa-brands{
  margin-top: 12px;

  width: 40px;
}

.ps:hover{
  cursor: pointer;
  color: rgb(48, 48, 255);
  font-weight: bolder;
  text-decoration: underline;
}

#point{
  text-align: center;
  margin-top: 50px;
  
}



.inter{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,  url(../image/finding\ the\ right\ cat\ for\ you.jpg);
  width:100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
}

#lit{
  padding-top: 200px;
  text-align: center;
  font-size: 80px;
  color: greenyellow;
  font-weight: bolder;
}

#st{
  font-size: 20px;
  font-weight:lighter;
  font-family: cursive;
  margin-top: 50px;
  margin-left: 150px;
  color: blue;

}

#ikd{
  margin-left: 150px;
  text-transform: capitalize;
  margin-top: 50px;
  color: rgb(121, 121, 219);

}

#pb{
  margin-left: 150px;
  font-size: medium;
  margin-top: 30px;
  color: rgb(137, 137, 192);

}

.dropdown-item:hover{
  cursor: pointer;
}

#mr{
  font-size: 150px;
  margin-top: 40px;
  text-align: center;
  background-color: rgb(19, 62, 142);
  color: aliceblue;
  font-weight: bolder;
  text-transform: capitalize;
  
  
}

.me{
  font-size: 20px;
  color: rgb(97, 97, 246);
  margin-top: 50px;
  margin-left: 120px;
}

#de{
  width: 900px;
  margin-top: 30px;
  margin-left: 50px;
}

.fear{
  display: flex;
}

.vet{
  margin-left: 30px;
  margin-top: 30px;
  background-color: greenyellow;
  padding-left: 30px;
  padding-top: 20px;
  /* padding-bottom: 50px; */
}

.lag{
  margin-top:2px;
}

#cap{
  font-size: 30px;
  font-weight: bolder;
  padding: 20px;
  background-color:aliceblue;
  color: blue;
}

.uu{
  margin-top: 13px;

}

#coke{
  margin-left:3px;
  padding: 20px;
  font-size: 20px;
}

#yo{
  font-size: 20px;
  margin-top: 10px;
  color: rgb(105, 105, 181);
}

#win{
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
  padding: 20px;
}

#cap:hover{
  cursor: pointer;
  background-color: rgb(0, 0, 199);
  color: aliceblue;
  font-family: fantasy;
}

#coke:hover{
  cursor: pointer;
  background-color: rgb(0, 0, 199);color: aliceblue;
}

#win:hover{
  cursor: pointer;
  background-color: rgb(0, 0, 199);
  color: aliceblue;
  

}
.dropdown-item:hover{
  cursor: pointer;

}


.oh{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,  url(../image/female-fundraiser-with-dog-and-laptop.jpg);
  width:100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top:50px;
  
}

#soso{
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  text-transform: capitalize;
  padding-top: 220px;
  color: greenyellow;
  font-family: cursive;
}


#sir{
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
  color: greenyellow;
  font-family: sans-serif;

}

#big{
  font-size: 25px;
  font-weight: lighter;
  font-family: sans-serif;
  color: greenyellow;
  text-align: center;
}
 .pp{
  font-size: 20px;
  font-weight: lighter;
  margin-top: 40px;
  margin-left: 40px;
 }

 #bre{
  font-size: 40px;
  font-weight:lighter;
  margin-top: 100px;
  margin-left: 400px;
  color: greenyellow;
  font-family: sans-serif;
  text-transform: capitalize;


 }.pin{
  background-color: black;
 }

 #vi{
  font-size: 20px;
  font-weight: normal;
  font-family: sans-serif;
  background-color: rgb(0, 1, 1);
  color: greenyellow;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 20px;
 }

 .mitt{
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bolder;
  padding: 10px;
  border-radius: 10px;
  color: yellowgreen;
 }

 .font{
  box-shadow: 5px 5px 10px 10px;
  border-radius: 10px;
  border-style: hidden;
  

  
 }

 .rice{
  box-shadow:5px 8px 5px 8px;
  border-style:none;
  border-width: 20px;
  border-radius: 10px;
  
 }
 
#re{
  font-size: 50px;
  font-weight: bolder;
  font-family: sans-serif;
  text-align: center;
  color: greenyellow;
  padding-top: 100px;
  padding-bottom: 100px;
  text-transform: uppercase;
  

}

.do{
  background-color:rgb(0, 166, 255);
  margin-top: 30px;

}
.navba{
  background-color: yellowgreen;

}

.rate{
  display: flex;
  margin-top: 50px;
  margin-left: 100px;
}

#lage{
  width: 900px;
  height: 500px;
  margin-left: 50px;
}

.spon{
  background-color:black;
  color:yellow;
}

#kay{
  font-size: 40px;
  font-weight: bolder;
  font-family: sans-serif;
  padding-top: 90px;
  padding-left: 40px;
  padding-right: 30px;
}

#rely{
  font-size: 20px;
  font-weight: normal;
  font-family: sans-serif;
  padding-left: 40px;
  padding-top: 10px;
  padding-right: 30px;
}

.ot{
  display: flex;
  margin-top: 100px;
  margin-left: 60px;
}
.gr{
  margin-left: 30px;
}
.vv{
  background-color: black;
  color: yellow;
}

#if{
  font-size: 30px;
  font-weight: bolder;
  padding-top: 20px; padding-left: 20px;
}

#bj{
  font-size: medium;
  font-family: cursive;
  padding-left: 20px; padding-bottom: 30px;
}